body{
    background-color:indianred;
    color: cyan;
    font-style: italic;
}
.navbar{
    font-weight: bold;
}
.text-lime {
    color: lime !important;
    
  }
.text-orange {
    color: cyan !important;
  }

a{
    font-size:20px; 
}
.nav-link-style {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
.nav-link-style:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .image-container {
    position: relative;
    display: inline-block;
    
  }
  .image{
    width: 100%
  }
  .text-overlay {
    position: absolute;
    top: 20%;
    left: 60%;
    transform: translate(-1%, -2%);
    color: orangered;
    font-weight: bold;
    font-family:Lucida;
    font-style: italic;
    text-align: center;
  }
  .mission{
    padding: 5%;
    text-align: center;
    font-size: x-large;
    font-family: cursive;
  }
  .image-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 300px; /* Set the desired height */
    margin-bottom: 2rem; /* Add some spacing between rows */
  }
  
  .image-effect {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and fill the container */
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .image-wrapper:hover .text-box {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .image-effect:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  
  .text-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.3s;
  }
  #services,
  #strengths {
    text-align: center;
    padding: 2rem;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 0.5s ease-in-out;
  }
  
  #services h2,
  #strengths h2 {
    margin-bottom: 1.5rem;
    animation: fadeInDown 0.5s ease-in-out;
  }
  
  #services p,
  #strengths p {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    font-family: Arial, sans-serif;
    font-style: normal;
    color:darkblue;
    animation: fadeInUp 0.7s ease-in-out 0.2s;
    opacity: 0;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .image-wrap{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 200px; /* Adjust the desired height */
    margin-bottom: 2rem; /* Add some spacing between rows */
  }
  
  .image-effect {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and fill the container */
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .first {
  width: 70%;
  height: 100%;
  margin: 0 auto; /* Center the row horizontally */
  object-fit: cover; /* Maintain aspect ratio and fill the container */
  transition: transform 0.3s, box-shadow 0.3s;
}
.card-body {
    position: relative;
  }
  
  .card-text {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color:lightcoral;
    padding: 1rem;
    z-index: 1;
  }
  
  .card-title:hover + .card-text {
    display: block;
    
  }
  .black-icon .carousel-control-prev-icon,
.black-icon .carousel-control-next-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}